



%h1.title Users

%table
  %thead
    %tr
      %th Name
      %th email
      %th More Info
  %tbody
    - @users.each do |p|
      %tr
        %td= p.name 
        %td= p.email
        %td= link_to "More details", user_path(p)

= link_to 'Add user', new_user_path
