%h1 grocRB

= link_to 'About us', :controller => :pages, :action => :about
= link_to 'Contact', :controller => :pages, :action => :contact

%p Feel free to browse Product Types
= link_to 'Product types list', product_types_path 
